$width-table: 10px;
.table-users{
    width: 100%;
    display: flex;
    justify-content: center;
    

    .table{
        overflow: auto;
        width: 90.85%;
        display: flex;
        justify-content: center;
        border-radius: 5px;
        

        

        table{
            width: auto;
            height: auto;
            background-color: white;
            text-align: left;
            border-radius: 5px;
            padding: 10px;

            thead{
                tr{
                    th{
                        padding: 0px $width-table;
                    }
                }
            }

            tbody{
                tr{
                    padding: 10px 0px;
                    &:focus{
                        background-color: blue;
                    }
                    td{
                        padding: 0px $width-table 20px $width-table;
    
                    //     &:first-child{
                    //         width: 250px;
                    //     }
                    //     &:last-child{
                    //         width: 400px;
                    //     }

                        a{
                            color: white;
                            padding: 3px 7px;
                            background-color: blue;
                            border-radius: 5px;
                            text-decoration: none;
                            &:first-child{
                                background-color: green;
                            }
                            &:last-child{
                                background-color: red;
                            }
                        }
                    }
                }
            }
            
        }
    }
}

#details{
    width: 500px;
    height: 500px;
    position: fixed;
    background-color: whitesmoke;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    border-radius: 5px;
    border: 1px solid black;
    display: none;
    padding: 20px;
    flex-direction: column;
}